package server

type JobExperience struct {
	Position    string
	Company     string
	Date        string
	List        []string
	Description string
}

templ Experience(experience []JobExperience) {
	for _, e:= range experience {
		<t-experience position={ e.Position } company={ e.Company }>
			<ul slot="list">
				for _, l := range e.List {
					<li>{ l }</li>
				}
			</ul>
			<div slot="description">
				{ e.Description  }
			</div>
		</t-experience>
	}
}
